<footer>
    <div class="text-block">
        <div class="left">
            <p><a href="/o-nas/kontakty">Vigvam, z.ú.</a><br>
            Dolní Břežany</p>
            <div class="social">
                <a href="mailto:vigvamdb@gmail.com" title="Napište nám"><i class="fas fa-envelope"></i></a> 
                <a href="https://www.youtube.com/channel/UCZa_TjdAIfeCyw8Unr1axPQ" title="Videa na YouTube"><i class="fab fa-youtube"></i></a> 
                <a href="https://www.facebook.com/vigvamdb/" title="Náš Facebook"><i class="fab fa-facebook"></i></a> 
                <a href="https://www.instagram.com/vigvam_db/" title="Náš Instagram"><i class="fab fa-instagram"></i></a> 
            </div>
        </div>
        <div class="right center">
            <div id="partners">
                <p>Naši partneři</p>
                <div class="flexbox">
                    <div class="item" id="brezanek"><img src="/images/brezanek_750x372.png" alt="Centrum Břežánek"></div>
                    <div class="item" id="db"><img src="/images/DB.jpg" alt=""><br><!-- <span class="text">obec Dolní Břežany</span> --></div>
                    <div class="item" id="ric"><img src="/images/ric.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="center"><a href="https://www.kudyznudy.cz/?utm_source=kzn&amp;utm_medium=partneri_kzn&amp;utm_campaign=banner" title="Kudyznudy.cz - tipy na výlet" target="_blank"> <img src="https://www.kudyznudy.cz/getmedia/3d103bcc-952c-4880-a526-133ee70fcb7a/KzN_banner_468x60.jpg.aspx" alt="Kudyznudy.cz - tipy na výlet" width="468" height="60" border="0"> </a></div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/main.js"></script>
