<div id="nav-toggle">
    <i class="fas fa-bars icon"></i>
    <a class="text">VIGVAM-DB.CZ</a>
</div>
<nav role="navigation" id="nav">
    <div class="logo">
        <a href="#"><img src="/images/vigvam-logo.png" alt="" srcset=""></a>
    </div>
    <ul>
        <li>
            <a href="#">AKTUALITY</a>
        </li>
        <li class="dropdown">
            <a href="#" aria-haspopup="true" class="b">TEEN</a>
            <ul aria-label="submenu">
                <li><a href="#">PŘEDSTAVENÍ ČINNOSTI</a></li>
                <li><a href="#">KURZY A AKCE</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" aria-haspopup="true" class="b">DOSPĚLÍ</a>
            <ul aria-label="submenu">
                <li><a href="#">PŘEDSTAVENÍ ČINNOSTI</a></li>
                <li><a href="#">KURZY A AKCE</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" aria-haspopup="true" class="b">SENIOŘI</a>
            <ul aria-label="submenu">
                <li><a href="#">PŘEDSTAVENÍ ČINNOSTI</a></li>
                <li><a href="#">KURZY A AKCE</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" aria-haspopup="true">O NÁS</a>
            <ul aria-label="submenu">
                <li><a href="#">KDO JSME</a></li>
                <li><a href="http://vigvam-db.cz/fotogalerie/">FOTOGALERIE</a></li>
                <li><a href="#">DOKUMENTY</a></li>
                <li><a href="#">ZÁSADY ZPRACOVÁNÍ OU</a></li>
                <li><a href="#">KONTAKTY</a></li>
            </ul>
        </li>
        <li class="button">
            <button>Rezervační systém</button>
        </li>
    </ul>
    <!-- <div class="social">
        <a href="mailto:vigvamdb@gmail.com"><i class="fas fa-envelope"></i></a> 
        <a href="https://www.youtube.com/channel/UCZa_TjdAIfeCyw8Unr1axPQ"><i class="fab fa-youtube"></i></a> 
        <a href="http://www.facebook.com/1272465326148161"><i class="fab fa-facebook"></i></a> 
    </div> -->
</nav>

<div class="banner">
    <div class="text">Tam, kde chcete být</div>
</div>